:root {
    --primary-brand:#4D5AE5;
    --Dark:#2E2F42;
    --Success:#31D0AA;
    --_text:#434455;
    --Subtle-Text:#8E8F99;
    --Accent:#E7E9FC;
    --Light:#F4F4FD;
    --bgc-white: #fff;
    --line-h:24px;
    --kegl:16px;
}

body {    
    color: var(--_text);
    background-color: var(--bgc-white);
    font-family: roboto, raleway, sans-serif;
    font-size: var(--kegl);
}

/* header styles */
.header li,
.header a{
    list-style: none;
    text-decoration: none;
}

.header{}

/* Logo styles */
.logo{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 1.125em;
    letter-spacing: 0.03em;
    color: var(--Dark);
}
.logo-web{
    color: var(--primary-brand);
}

