:root {
    --primary-brand:#4D5AE5;
    --Dark:#2E2F42;
    --Success:#31D0AA;
    --_text:#434455;
    --Subtle-Text:#8E8F99;
    --Accent:#E7E9FC;
    --Light:#F4F4FD;
    /* --line-h */
}

body {
    color: var(--_text);
    font-family: roboto, raleway, sans-serif;
    font-size: 1em;
}